<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListServiceController</servlet-name>
        <servlet-class>controller.ListServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSalerController</servlet-name>
        <servlet-class>controller.LoginSalerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginMechanicController</servlet-name>
        <servlet-class>controller.LoginMechanicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceController</servlet-name>
        <servlet-class>controller.DeleteServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceController</servlet-name>
        <servlet-class>controller.AddServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMyInvoiceController</servlet-name>
        <servlet-class>controller.ListMyInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceController</servlet-name>
        <servlet-class>controller.UpdateServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>controller.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceMechanicController</servlet-name>
        <servlet-class>controller.UpdateServiceMechanicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainLoginController</servlet-name>
        <servlet-class>controller.MainLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListServiceMechanicController</servlet-name>
        <servlet-class>controller.ListServiceMechanicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCustomerController</servlet-name>
        <servlet-class>controller.LoginCustomerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListServiceController</servlet-name>
        <url-pattern>/ListServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSalerController</servlet-name>
        <url-pattern>/LoginSalerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginMechanicController</servlet-name>
        <url-pattern>/LoginMechanicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServiceController</servlet-name>
        <url-pattern>/DeleteServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceController</servlet-name>
        <url-pattern>/AddServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMyInvoiceController</servlet-name>
        <url-pattern>/ListMyInvoiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceController</servlet-name>
        <url-pattern>/UpdateServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/UpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceMechanicController</servlet-name>
        <url-pattern>/UpdateServiceMechanicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainLoginController</servlet-name>
        <url-pattern>/MainLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListServiceMechanicController</servlet-name>
        <url-pattern>/ListServiceMechanicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCustomerController</servlet-name>
        <url-pattern>/LoginCustomerController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
